<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="wwwroot">
          <match url="([\S]+[.](html|js|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="wwwroot/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="StaticFile"/>
      <add name="StaticFiles_Html" path="*.html" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
      <add name="StaticFiles_Js" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
      <add name="StaticFiles_Css" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
      <add name="StaticFiles_Png" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
      <add name="StaticFiles_Gif" path="*.gif" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
      <add name="StaticFiles_Jpg" path="*.jpg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
      <add name="StaticFiles_Jpeg" path="*.jpeg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
